html 
{
  height: 100%;
  width: 100%;
}

.page
{
    display: flex;
    width: 1920px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    background: #ffff;
    margin: auto;
    position: relative;
}
.section
{
    display: flex;
    width: 1920px;
    flex-direction: column;
    align-items: center;
    background: #F7F7FC;
    overflow-x: hidden;
}
.section__base1
{
    padding: 16px 0px 24px 0px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background: #EFF0F6;
    overflow-x: hidden;
}
.section__base2
{
    display: flex;
    width: 1920px;
    padding: 16px 0px 24px 0px;
    flex-direction: column;
    align-items: center;
    background: #F7F7FC;
    overflow-x: hidden;
}
.header
{
    display: flex;
    width: 550px;
    align-items: center;
    background: #F7F7FC;
    
}
.logo
{
    display: flex;
    padding: 16px 0px 10px 0px;
    align-items: flex-start;
    align-self: stretch;

}
.title
{
    color: #0576F0;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; /* 133.333% */
    letter-spacing: 0.75px;
    display: flex;
    padding-bottom: 0px;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
    width: 440px;
    height: 32px;
}
.issue
{
    display: flex;
    padding-bottom: 0px;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
    color: #14142B;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px; /* 130% */
    letter-spacing: 0.5px;
    flex: 1 0 0;
}
.hero-image
{
    display: flex;
    padding: 16px 0px;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    width: 110px;
    align-self: stretch;
}
.intro-section
{
    display: flex;
    width: 550px;
    padding: 16px 0px 24px 0px;
    flex-direction: column;
    background: #F7F7FC;
}
.text
{
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px; /* 157.143% */
    letter-spacing: 0.25px;
}
.intro__text
{
    color: #4E4B66;
    font-style: normal;
    width: fixed;
    height: auto;
    gap: 16px;
}
.intro__text_s
{
    color: #4E4B66;
    font-style: normal;
    width: 550px;
}
.intro__text_italic
{
    color: #0576F0;
    font-style: italic;
}

.news__section
{
    display: flex;
    width: 550px;
    padding: 16px 16px 24px 16px;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 8px;
    background: #FFF;
}
.heading
{
    display: flex;
    align-items: center;
    gap: 12px;
    align-self: stretch;
}
.text__number
{
    color: #14142B;
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; /* 100% */
    letter-spacing: 0.5px;
}
.rectangle
{
    width: 1px;
    height: 25px;
    background: #14142B;
}
.news__title
{
    flex: 1 0 0;
    color: #14142B;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 125% */
    letter-spacing: 0.5px;
}
.card__text_align
{
    align-self: stretch;
}
.card__text_link
{
    color: #0576F0;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px; /* 157.143% */
    letter-spacing: 0.25px;
    text-decoration-line: underline;
}

.card__text_width
{
    
}
.footer_section
{
    display: flex;
    width: 1920px;
    padding: 16px 0px 32px 0px;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}
.footer
{
    display: flex;
    width: 550px;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}
.snetworks
{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
}
.footer__text
{
    display: flex;
    flex-direction: column;
    color: #372D41;
    text-align: center;
    font-family: Poppins;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 160% */
    letter-spacing: 0.25px;
}
@media screen and (max-width: 320px)
{
    * {
        margin: 0;
        padding: 0;
    }
    .page
    {
        width: 320px;
        overflow-x: hidden;
    }
    .section0
    {
        width: 280px;
        height: 504px;
        padding-left: 20px;
        padding-right: 20px;
        overflow-x: hidden;
    }
    .section1
    {
        width: 280px;
        height: 524px;
        padding: 16px 20px 24px;
        overflow-x: hidden;
    }
    .section2
    {
        width: 280px;
        height: 612px;
        padding: 16px 20px 24px;
        overflow-x: hidden;
    }
    .section3
    {
        height: 442px;
        width: 320px;
        overflow-x: hidden;
    }
    .section4
    {
        height: 552px;
        width: 320px;
        overflow-x: hidden;
    }
    .header
    {
        width: 280px;
        height: 168px;
    }
    .logo
    {
        width: 170px;
        height: 20px;
    }
    .title
    {
        width: 170px;
        height: 64px;
        padding-bottom: 16px;
    }
    .issue
    {
        width: 170px;
        height: 26px;
        margin: 0;
        padding: 0;
    }
    .hero-image
    {
        width: 100px;
        height: 100px;
    }
    .intro-section
    {
        width: 280px;
        height: 296px;

    }
    .text
    {
        align-self: stretch;
        color: #4E4B66;
        font-family: Poppins;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px; /* 157.143% */
        letter-spacing: 0.25px;
       
    }
    .text__padding_top
    {
        padding-top: 16px;
        padding-right: 16px;
    }
    .text__padding
    {
        padding-top: 16px;
        padding-bottom: 16px;
    }
    .text__padding_buttom
    {
        padding-bottom: 16px;
    }
    .text__link_padding
    {
        padding-bottom: 8px;
    }
    .intro__text
    {
        align-self: stretch;
        color: #4E4B66;
        font-family: Poppins;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px; /* 157.143% */
        letter-spacing: 0.25px;
    }
    .intro__text_s
    {
        align-self: stretch;
        color: #4E4B66;
        font-family: Poppins;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px; /* 157.143% */
        letter-spacing: 0.25px;
        padding-top: 16px;
        padding-bottom: 16px;
        width: 280px;
    }
    .intro__text_italic
    {
        color: #0576F0;
        font-family: Poppins;
        font-size: 14px;
        font-style: italic;
        font-weight: 400;
        line-height: 22px; /* 157.143% */
        letter-spacing: 0.25px;
    }

    .news__section
    {
        width: 248px;
        height: 572px;
        padding: 16px 16px 24px;
        padding-right: 16px;
        align-items: flex-start;
        display: flex;
    }
    .news4__section
    {
        height: 552px;
    }
    .heading
    {
        width: 248px;
        height: 40px;
    }
    .text__number
    {

    }
    .rectangle
    {
        
    }
    .news__title
    {
       
    }
    .card__text_align
    {
        
    }
    .card__text_link
    {
        
    }

    .text3
    {
        width: 250px;
    }
    .footer_section
    {
        width: 280px;
        height: 94px;
        padding: 16px 20px 32px;
        overflow-x: hidden;
    }
    .footer
    {
      
    }
    .snetworks
    {
        
    }
    .footer__text
    {
        
    }
}